.sideMenu {
    position: fixed;
    width: 350px;
    height: 100%;
    background: #717DA8;
}

.sideMenu1 {
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #717DA8;
}

.flexDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.siteTitle {
    position: absolute;
    width: 176px;
    height: 42px;
    left: 61px;
    top: 19px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.links{
    position: absolute;
    height: 36.89px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.links:hover{
    color: #000000;
}

.current{
    color: #181c27;
    font-weight: bold;
}

/* Attacks Diary */
.attacksDiary{
    top: calc(45% - 36.89px/2 - 115.06px);
}

/* MedCard Information */
.medCardInformation{
    top: calc(45% - 36.89px/2 - 78.06px);
}

/* MedCard Records */
.medCardRecords{
    top: calc(45% - 36.89px/2 - 41.06px);
}

/* Medicines */
.medicines{
    top: calc(45% - 36.89px/2 + 1.82px);
}

/* Doctor */
.doctor{
    top: calc(45% - 36.89px/2 + 38.82px);
}

/* Inhaler */
.inhaler{
    top: calc(45% - 36.89px/2 + 75.82px);
}

/* Profile Settings */
.profileSettings{
    top: calc(45% - 36.89px/2 + 112.82px);
}

/* Logout */
.logout{
    top: 91.37%;
    bottom: 5.05%;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
}