:root{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.button {
    background-color: #96A8D6;
    border-radius: 20px;
    border: 0px solid;
    padding: 10px;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    max-height: 50px;
    min-height: 20px;
}

.smallButton {
    background-color: #96A8D6;
    border-radius: 20px;
    border: 0px solid;
    padding: 10px;
    font-size: 18px;
    width: 150px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.button:hover, .smallButton:hover {
    background-color: #37426b;
    color: white;
}

.button:active, .smallButton:active {
    vertical-align: top;
    padding: 8px 8px 8px;
}

.sideButton{
    position: absolute;
    width: 260px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    color: #FFFBFB;
    text-decoration-line: none;
    border: 2px solid rgb(118, 118, 118);
}

.sideButton:active {
    vertical-align: top;
    padding: 8px 8px 8px;
}

.deleteProfileButton { 
    left: calc(50% - 271px/2 + 450.5px);
    top: calc(50% - 71px/2);
    background: #D696A6;
}

.deleteProfileButton:hover {
    background-color: #a0596b;
    color: white;
}

.changePasswordButton {
    left: calc(50% - 271px/2 + 450.5px);
    top: calc(50% - 71px/2 - 84px);
    background: #9FAF9E;
    margin: 5px;
}

.changePasswordButton:hover{
    background-color: #658363;
    color: white;
}

.prescriptedMedicinesButton{
    left: calc(50% - 271px/2 + 450.5px);
    top: calc(50% - 71px/2 + 84px);
}

.createRecordButton{
    left: calc(50% - 271px/2 + 450.5px);
    top: calc(50% - 71px/2 + 168px);
    background: #d8ae61;
}

.createRecordButton:hover{
    background: #70582a;
}

.deleteButton{
    background: #D696A6;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #a0596b;
    color: white;
}


.greenButton{
    min-width: 52px;
    background: #778b75;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
    padding: 1px 6px;
    display: inline-block;
    margin: 5px;
    font-size: 13.33px;
    border-width: 2px;
    border-style: inset;
    border: 2px solid #466b43;
    border-image: linear-gradient(to right bottom, rgb(129, 128, 128), rgb(63, 63, 63), rgb(12, 12, 12) );
    border-image-slice: 1;
}

.greenButton:hover {
    background-color: #466b43;
    color: white;
}

.button, 
.button:active, 
.button:focus {
    outline: none;
}

.redButton{
    background-color: rgb(216, 128, 128);
}

.redButton:hover{
    background-color: rgb(122, 58, 58);
}